.shoppingListOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shoppingList {
    background-color: var(--background);
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
  }
  
  .shoppingList h2 {
    margin-bottom: 1rem;
  }
  
  .shoppingList ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .shoppingList li {
    margin-bottom: 0.5rem;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .closeButton,
  .printButton {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .closeButton:hover,
  .printButton:hover {
    background-color: var(--secondary);
  }
  
  @media print {
    .shoppingListOverlay {
      position: static;
      background-color: transparent;
    }
  
    .shoppingList {
      max-width: none;
      width: 100%;
      padding: 0;
    }
  
    .buttonContainer {
      display: none;
    }
  
    .shoppingList h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .shoppingList ul {
      font-size: 16px;
    }
  
    .shoppingList li {
      margin-bottom: 10px;
    }
  }
  
  