<header class="header">
  <!-- <script src="/js/header.js" type="module"></script> -->
  <div class="container headerContent">
    <a href="/" class="logo">

      <img src="/images/tomatoe.png" alt="Recipe Finder Logo" />
  </a>
    <nav>
      <ul class="navList">
        <!-- don't want search page to be a link for the user to see and click -->
        <!-- <li><a href="/search/">Search</a></li> -->
        <!-- <li><a href="/meal-planner/">Meal Planner</a></li>
        <li><a href="/favorites/">Favorites 
          <span id="favorite-count" class="favorite-count">0</span></a></li> -->
        <li>
          <a href="/login/index.html"
            ><button id="loginBtn" class="login-btn">Login</button></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
