<header class=header>
  <!-- <script src="/js/header.js" type="module"></script> -->
  <div class="container headerContent">
    <a href="/" class=logo>Recipe Finder</a>
    <nav>
      <ul class=navList>
  <!-- don't want search page to be a link for the user to see and click -->
        <!-- <li><a href="/search/">Search</a></li> -->
        <li><a href="/meal-planner/">Meal Planner</a></li>
        <li><a href="/favorites/">Favorites</a></li>
        <li><a href="/login/index.html"><button id="loginBtn" class="login-btn">Login</button></a></li>
      </ul>
    </nav>
  </div>
</header>